<h2 class="page-header"><%= blog.title %></h2>
<div class="blog-details">
  <div>
    <img class="blog-cover" src="<%= blog.coverImagePath %>">
    <div class="blog-details-btn-grid">
      <a class="btn btn-primary" href="/blogs/<%= blog.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/blogs/${blog.id}` }) %> 
    </div>
  </div>
  <div class="blog-details-grid">
    <div class="blog-details-label">Publish Date:</div>
    <div><%= blog.publishDate.toDateString() %></div>
    <div class="blog-details-label">Page Count:</div>
    <div><%= blog.pageCount %></div>
    <div class="blog-details-label">Description:</div>
    <div><%= blog.description %></div>
  </div>
</div>