<h2 class="page-header"><%= blog.blogTitle %></h2>
<div class="book-details">
  <div>
    <img class="book-cover" src="<%= blog.coverImagePath %>">
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/blogs/<%= blog.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/blogs/${blog.id}` }) %>
      <a class="btn btn-primary book-details-author-button" href="/authors/<%= blog.author.id %>">View Author</a>
    </div>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Author:</div>
    <div><%= blog.author.name %></div>
    <div class="book-details-label">sub title:</div>
    <div><%= blog.subTitle %></div>
    <div class="book-details-label">blog text:</div>
    <div><%= blog.blogText %></div>
  </div>
</div>