<%- include('../partials/hd') %>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<form action="/authors" method="GET">
  <div class="input-group">
    <input type="text" class="form-control" name="name" value="<%= searchOptions.name %>" placeholder="Search in authors">
    <div class="input-group-append" style="height: 38px;">
      <button class="btn btn-secondary" type="submit">
        <i class="fa fa-search" style="margin-top: -3px;"></i>
      </button>
    </div>
  </div>
</form>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Preview</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>

  <% authors.forEach(author => { %>
  <tr>
    <td><%= author.name %></td>
    <td><a class="btn btn-primary btn-sm" href="/authors/<%= author.id %>">View</a></td>
    <td><a class="btn btn-primary btn-sm" href="/authors/<%= author.id %>/edit">Edit</a></td>
    <td><%- include('../partials/deleteForm',{ url: `/authors/${author.id}` }) %></td>            
  </tr>
  <% }) %>
  </tbody>
</table>

</div>
    </div>
      </div>